html, body {
    margin: 0;
    font-family: Verdana;
    font-size: 12px;
    color: #433;
    background-image: url(../images/hintergrund_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: 1000px;
    height: auto;
    margin: 10% auto 50px auto;
}

.input {
    display: block;
    width: 300px;
    height: 3vh;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}

.button {
    display: block;
    width: 250px;
    height: 5vh;
    margin: 20px auto 20px auto;
    background-color: lightcoral;
    border-radius: 10px;
}

.button:hover {
    display: block;
    width: 250px;
    height: 5vh;
    margin: 20px auto 20px auto;
    background: none;
    color: lightcoral;
    cursor: pointer;
}

.li {
    display: inline;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: large;
    background-color: lightblue;
    background-position: bottom;
    text-align: center;
}

td, th{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}

.productcontent {
    width: 60%;
    height: auto;
    margin:20px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
}

.productThumb{
    width:300px;
    height:auto;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    margin:20px 0px 20px 0px;
}
.productThumb img {
   width: 200px;
    height: 150px;
}
